<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>

#salvar {
  top: 0;
  right: 0;
  height: 20px;
  padding: 10px 10px;
}

.grid-container {
  display: grid;
  width: 300px;
  grid-template-columns: auto auto auto;
  padding: 0px;

}

div.gallery {

  margin: 0px;
  border: 0px solid #ccc;
  float: left;
  width: 150px;
  margin-bottom: -1;
  display: inline-block;
  align-self: flex-end;

}

div.gallery:hover {
  border: 1px solid #777;
}


.container_picture {

  position: relative;
  text-align: center;
  align: right;

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;

}

div.gallery img {
  padding-left: 60px;
  margin-top: -1px;

  /** @todo Ficou feio isso, esse -70 pra alinhar a esquerda */
  margin-left: -70px;

  align: center;


  /**The problem with this configuration is that images is generated with difrent sizes and becoume layout
  ugly. */
  /** Altura da foto*/
  /*
  width: 80%;
  height: 180px;*/


  /**The problem with this configuration is that a image stay with the same size and is necessary
  to adjust the must manualy. */
  /*
  width: 100%;
  height: auto;*/


  /**This is the best option now, but sometimes is necessary adjust manualy the images. */
  /*
      width:  75%;
      height: 150px;
      object-position: bottom;
    
      The best way is use to use object-fit: scale-down;, but html2canvas didn't support.
      I saw it in https://html2canvas.hertzen.com/features/
      Whit object-fit is not necessary manual adjusments: .

      object-fit: scale-down;
      width:  100%;
      height: 150px;
      object-position: bottom;
      
      
  /** I decied to go in this way and chage in the future, this is a MVP, is a test, I 
      won't spent more time with this now
      I cant decrease the width and heigh less than width:  75%; height: 150%;, because of quality
      */
      
      /*
  width: 100%;
  height: 150px;
  object-position: bottom;
*/

/* 14-08-2022 
Now using SSR the best way is this 

  object-fit: scale-down;
      width:  100%;
      height: 150px;
      object-position: bottom;
      

*/

      object-fit: scale-down;
      width:  100%;
      height: 150px;
      object-position: bottom;
      

}

div.desc {
  font-family: "Helvetica", sans-serif;
  padding: 4px;
  text-transform: uppercase;
  font-size: 11px;
  text-align: center;
  width: 150px;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 0;

}

/* Bottom right text */
.text-block {
  position: relative;
  text-align: center;
  bottom: 5px;
  right: 5px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.textocentro {
  font-family: "Helvetica", sans-serif;
  position: absolute;
  font-size: 13px;
  padding-top: 2px;
  bottom: 0px;
  right: 20px;
  background-color: #FF0000; /* Was dinamic here*/
  color: #000000; /* Was dinamic here*/
  padding-left: 20px;
  padding-right: 20px;

}


.container_text_button {
  position: relative;
}

.tudo {
  position: relative;
}

.text_button_right {
  font-family: "Helvetica", sans-serif;
  position: absolute;
  font-size: 12px;
  bottom: 8px;
  left: 250px;
  color: white;
  text: bold;
  width: 200px;
  padding-left: 60px;
  padding-right: 10px;
  align: right;
}

.text_button_left {
  line-height: 125%;
  font-family: "Sofia", sans-serif;
  font-size: 40px;
  position: absolute;
  bottom: 70px;
  left: 10px;
  color: yellow;
  text: bold;
  width: 300px;
  padding-left: 0px;
  padding-right: 20px;
  align: center;
}

.logo {
  border-radius: 0px;
  padding: 100px;
  padding-left: 140px;
  bottom: -99px;
  width: 140px;
  height: 90px;
  position: absolute;
  align: center;
  object-position: bottom;

}


.footer_text {
  font-size: 20px;
  position: absolute;
  bottom: 10;
  left: 10px;
  color: yellow;
  text: bold;
  padding-left: 20px;
  padding-right: 20px;
  align: left;

}


.iconDetails {
  margin-left: 2%;
  float: left;
  height: 30px;
  width: 30px;
}

.container2 {
  text-transform: capitalize;
  font-family: "Helvetica", sans-serif;
  font-size: 15px;
  color: white;
  position: absolute;
  bottom: 0;
  left: 10px;
  height: auto;
  padding: 1.5%;
  float: left;
}

h4 {
  margin: 0;
  width: 400px;
  text-transform: capitalize;
}

.left {
  float: left;
  width: 45px;
}

.right {
  float: left;
  margin: 0 0 0 5px;
  width: 215px;
}

body {
    max-width: 452px;
    background-color: #FFFFFF; 
    /*
     min-height: 100vh;
         margin: 0 auto;

    */
}
  </style>


<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Helvetica">

<body>


<div id="encarte" style="background-color: #FFFFFF; width: 452px; ">
  <!-- I used to set width and height of div becouse of image generation, to generate in same size.
    But I watched that depending of products and image exceded image limit. I decided to remove 
    this tag to test and worked. I went to container2 and decrease padding of 1% to 0% and and bottom to 0-->
  <!-- style="background-color: #FFFFFF;  width: 452px; height: 1025px;" -->

  <div class="container_text_button">
  
  <% 
const template = '';
const user_detail = '';
const publish = '';

if (template.has_logo == 0) { %>
<img class="logo" src="http://meusencartes.com.br/fivecart3/images/logos/">
<% } %>
</div>

<img  src="http://meusencartes.com.br/fivecart3/images/templates/1_super_ofertas_header.jpg" width="455" height="200">  


<div class="grid-container">

<% for (var i=0; i< flyer.length; i++) { %>

<div class="gallery">
  <div class="container_picture">
    <img src= <%= 'http://meusencartes.com.br/fivecart3/images/Products/' + flyer[i].image_link%>  alt="Snow" width="100" height="130"/>
  
  <div class="textocentro"> R$ <%=flyer[i].price %> </div>
</div>
<div class="desc"><%=flyer[i].name %></div>

</div>
<% } %>
</div>
<img src="http://meusencartes.com.br/fivecart3/images/templates/1_super_ofertas_footer.png" width="455" height="50">

</div>
</body>

</html>